// third party imports
$ember-basic-dropdown-content-z-index: 10000;
@import "ember-basic-dropdown";

// design system
@import "nypr-design-system/vars/colors";
@import "nypr-design-system/atoms/media-object";
@import "nypr-design-system/objects/toggle-box";
@import "nypr-design-system/objects/article-header";
@import "nypr-design-system/objects/gallery-overlay";

// embedded media compat
.responsive-object {
  position: relative;

  iframe,
  > .fb-video,
  > img {
    position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.c-featured-blocks__heading--wnyc .wnyc-logo-icon {
  width: 94px;
  height: 38px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 8px;
  fill: $wnyc-red;
}

// make sure embedded captions aren't cut off
.o-caption {
  min-height: 26px;
}

// target links embedded in gothamist captions with proper styling
// sometimes they're not a direct child
.o-caption__text > span a {
  display: inline;
  color: #333;
  border-bottom: 2px dotted #333;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

// legacy moveable type images embedded in article content
.image-none {
  i {
    display: flex;
    align-items: center;
    font-style: normal; // this should be decorated with emphasis
    margin-top: -28px; // offset embedded <br/>
    font-family: "Pragati Narrow", Helvetica, sans-serif;
    font-size: 16px;

    &:before {
      content: url("data:image/svg+xml;charset=utf8,%3Csvg%20class%3D%22arrow-dashed-icon%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22%23f25917%22%3E%3Cpolygon%20points%3D%2218.74%203.12%2029.96%2014%2018.74%2024.88%2018.74%2016.72%2015%2016.72%2015%2011.28%2018.74%2011.28%2018.74%203.12%22%20%2F%3E%20%3Crect%20x%3D%228.2%22%20y%3D%2211.28%22%20width%3D%225.44%22%20height%3D%225.44%22%20%2F%3E%3Crect%20x%3D%224.12%22%20y%3D%2211.28%22%20width%3D%222.72%22%20height%3D%225.44%22%20%2F%3E%3Crect%20x%3D%220.04%22%20y%3D%2211.28%22%20width%3D%222.72%22%20height%3D%225.44%22%20%2F%3E%3C%2Fsvg%3E");
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 8px;
    }
  }

  a {
    color: #333;
    border-bottom-color: #333;
  }
}

// fix extra spacing from line breaks
// try to get both breaks following an image
.c-article__body > blockquote > br,
.c-article__body > .image-none + br,
.c-article__body > .image-none + br + br {
  display: none;
}

// header compat for hanging logo
.homepage {
  .c-main {
    padding-top: 0;
  }
  .c-main-header {
    padding-bottom: 45px;
  }
}

// improve quick scrolling experience
// white background peeks through on quick scrolls
.gallery {
  background-color: #333;

  .c-main {
    position: relative; // reset positioning context around transformed gallery overlay
  }
}

.is-hiding-letters .gothamist-logo-icon .letters {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

// improve side menu scrolling
.c-side-menu {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

.c-article__body {
  .image-right,
  .image-left {
    margin-left: auto;
    margin-right: auto;
  }
}

// margin and width for ads when columns collapse
.c-home__sections .c-block-group__col1 {
  margin-bottom: 24px;
}
.c-home__sections .c-block-group__col2 .o-ad {
  width: 300px;
}

// ad layout
.dfp-skin {
  height: 0;
}

.break-margins {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.space-filler {
  margin: 40px 0 32px 0;
}
