// CSS imports
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

// third party imports
$ember-basic-dropdown-content-z-index: 10000;
@import "ember-basic-dropdown";

// design system
@import "nypr-design-system/vars/colors";
@import "nypr-design-system/atoms/media-object";
@import "nypr-design-system/objects/toggle-box";
@import "nypr-design-system/objects/article-header";
@import "nypr-design-system/objects/gallery-overlay";

// embedded media compat
// blockquote.instagram-media,
// blockquote.instagram-media-registered {
//   opacity: 0;
// }

.c-featured-blocks__heading--wnyc .wnyc-logo-icon {
  width: 94px;
  height: 38px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 8px;
  fill: $wnyc-red;
}

// make sure embedded captions aren't cut off
.o-caption {
  min-height: 26px;
}

// target links embedded in gothamist captions with proper styling
.o-caption__text > span > a {
  display: inline;
  color: #333;
  border-bottom: 2px dotted #333;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

// embedded MT images
.image-none {
  img {
    border: 2px solid black;
  }

  i {
    display: block;
    font-style: normal; // this should be decorated with emphasis
    margin-top: -12px; // offset embedded <br/>
    font-family: "Pragati Narrow", Helvetica, sans-serif;
    font-size: 16px;
  }

  a {
    color: #333;
    border-bottom-color: #333;
  }
}

// header compat for hanging logo
.homepage {
  .c-main {
    padding-top: 0;
  }
  .c-main-header {
    padding-bottom: 45px;
  }
}

// improve quick scrolling experience
// white background peeks through on quick scrolls
.gallery {
  background-color: #333;
}

.is-hiding-letters .gothamist-logo-icon .letters {
  display: none;
}

// improve side menu scrolling
.c-side-menu {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

// fix extra spacing from line breaks
// try to get both breaks following an image
.c-article__body > blockquote > br,
.c-article__body > .image-none + br,
.c-article__body > .image-none + br + br {
  display: none;
}

.c-article__body {
  .image-right,
  .image-left {
    margin-left: auto;
    margin-right: auto;
  }
}

// ad layout
.break-margins {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
.space-filler {
  margin: 40px 0 32px 0;
}
.ad-height-0 {
  display: none;
}
.break-margins.ad-height-50 + .space-filler {
  height: 50px;
}
.break-margins.ad-height-90 + .space-filler {
  height: 90px;
}
.break-margins.ad-height-250 + .space-filler {
  height: 250px;
}
