{{!-- pattern lab hack --}}
<div class="gallery-is-active">
  <NyprOGalleryOverlay
    @title={{model.title}}
    @parentRoute='article'
    @parentModel={{model}}
    @slides={{model.gallery.slides}}
  />
</div>
