<div class="u-spacing--quad c-basic-page">

  <div class="c-listing__sections u-section-spacing l-container l-wrap l-container--14col">

    <header class="c-basic__header u-spacing">
      <h1 class="c-basic__heading o-3d-heading">Contact Us</h1>
    </header>

    <div class="c-basic-page__content">
      <div class="c-article__body o-rte-text u-spacing l-container--content">
        <p>Gothamist appreciates feedback from readers, advertisers, and the press. Please direct your question to the appropriate person using the menu below.</p>

        <h2>Via Email</h2>
        <p>To submit story ideas/tips/leads, or general editorial inquiries, including questions, compliments, or complaints on particular stories, please contact <a href="mailto:tips@gothamist.com" target="_blank" rel="noopener">tips@gothamist.com</a>.</p>
        <p>For advertising and partnership inquiries please contact <a href="mailto:sales@gothamist.com" target="_blank" rel="noopener">sales@gothamist.com</a>.</p>

        <h2>Via Regular Mail</h2>
        <p><strong>Note:</strong> If you want us to post about something, send us an email, and use an electronic attachment. If you must send us a package, email us so we know that it&apos;s coming and can look out for it.</p>
        <address>
          <p>
            <strong>Gothamist</strong><br>
            New York Public Radio<br>
            160 Varick Street, 8th Floor<br>
            New York, NY 10013
          </p>
        </address>
      </div>
    </div>

  </div>

</div>
