<h2>Gothamist Homepage</h2>

{{#each model as |story|}}
  <article>
    <h3>
      {{link-to story.title 'wrapper' story.permalink}}
    </h3>
    <p>{{story.authorNickname}}</p>

    {{!-- template-lint-disable no-triple-curlies --}}
    {{{story.excerptPretty}}}
  </article>
{{/each}}
