<div class="u-spacing--quad c-basic-page">

  <div class="c-listing__sections u-section-spacing l-container l-wrap l-container--14col">

    <header class="c-basic__header u-spacing">
      <h1 class="c-basic__heading o-3d-heading">Staff</h1>
    </header>

    <div class="c-basic-page__content">
      <section class="c-listing__section o-section">
        <NyprMBlockList @items={{model}} as |author|>
          <NyprMAuthorBlock
            @author={{author}}
            @articleRoute={{if author.articles (array 'author-detail' author.name)}}
          />
        </NyprMBlockList>
      </section>

      <section class="o-section o-rte-text">
        <h3>Contributors</h3>

        <ul>
          <li>
            Scott Lynch
          </li>
          <li>
            Claire Lampen
          </li>
          <li>
            Tod Seelie
          </li>
          <li>
            Sai Mokhtari
          </li>
          <li>
            David “Dee” Delgado
          </li>
          <li>
            Gretchen Robinette
          </li>
          <li>
            Navid Baraty
          </li>
          <li>
            Neil de Mause
          </li>
          <li>
            Ross Barkan
          </li>
          <li>
            Caroline Lewis
          </li>
        </ul>

        <h3>Alumni</h3>

        <p>
          Gothamist owes its existence to the dozens of dedicated reporters, bloggers, editors, programmers, designers, and sales and operations staff who have worked on the site since 2003, including: Neil Epstein, David Jacobs, Brooke Storm, Tien Mao, Garth Johnston, and Nell Casey.
        </p>

        <h3>Digital Team</h3>

        <p>
          Many people on the digital team at New York Public Radio are thrilled to have the chance to work on the next generation of Gothamist, including Kate Statton, Laura Galbraith, Brian Whitton, Mike Hearn, Brad Kammin, Kelly Suitor, Matt Walsh, Sean Zimmer, Nicolas Castro, Valentina Powers, Chris Hardtman, Jim Jazweicki, Freyja Balmer, and Nate Landau.
        </p>

        <h3>Animals</h3>

        <ul>
          <li>
            <a href="https://instagram.com/goosetheblacklab" target="_blank" rel="noopener">
              Goose Stern
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/p/BrvMKN0ltdc/" target="_blank" rel="noopener">
              Madison Wilkins
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/p/BvlSiaxJEAz/" target="_blank" rel="noopener">
              Claire Wilkins
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/p/Bxa3b7QJsLi/" target="_blank" rel="noopener">
              Sadie Wilkins
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/p/Bn1YExFFNfQ/" target="_blank" rel="noopener">
              Teekay Clayman-Yakas
            </a>
          </li>
          <li>
            Honorable Mention: <a href="https://www.instagram.com/p/BhzEd6fB9lK/" target="_blank" rel="noopener">Fozzie Chung</a>
          </li>
          <li>
            RIP: Travis Wilkins, Thompson Dobkin, Curtis Wilkins, Bodie Whitton
          </li>

        </ul>
      </section>
    </div>

  </div>

</div>
