<div class="c-listing__sections u-section-spacing l-container l-container--14col l-wrap">
  <header class="c-tag-listing__header u-trigger-floating-header">
    <h1 class="c-tag-listing__heading u-font--secondary">{{model.tag}}</h1>
  </header>

  <hr class="u-border-accent u-hide-until--m">

  <section class="c-listing__section o-section">
    <NyprMBlockList @items={{model.articles}} as |article|>
      <ArticleBlock
        @article={{article}}
        @orientation='h'
        @size='l'
        @thumbnailSize='300'
      />
    </NyprMBlockList>
  </section>

  <div class="u-align-center">
    <NyprAButton
      data-test-more-results
      class="o-button--c-quaternary o-button--extra"
      {{!-- @onclick={{action getMoreStories}} --}}
    >
      More Results
    </NyprAButton>
  </div>

</div>
